body,
html {
  background-color: #dbc58d;
  font-weight: bold;
}

.alert {
  background-color: #ffbd15;
}

.navbar {
  background-color: #ffbd15;
  height: 70px;
}

label {
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 0;
}
#create-chart {
  position: absolute;
  margin: 0 auto;
  left: 90;
  right: 0;
  text-align: center;
  bottom: 10px;
}



.btn:focus,
.btn:active {
  outline: none !important;
  border: none !important;
}
