#title {
  text-align: center;
  color: white;
}

.alert {
  background-color: #969dac;
  border: #969dac;
}

.navbar {
  background-color: #ffbd15;
  height: 70px;
}

body {
  background-color: #dbc58d;
}
    
.options-button {
  height: 100px;
  background-color: #ffbd15;
  color: black;
   font-weight: bold;
  border: none;
}

#add-button {
  color: #f5f5f5;
  background-color: #474e58;
  border-color: black;
  
}

label {
  color: #fff;
  font-weight: bold;
}

#info {
  position: absolute;
  top: 20%;
  left: 60%;
  margin-top: -50px;
  /* this is half the height of your div*/
  margin-left: -100px;
  /*this is half of width of your div*/
}